{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">{{ user_type }} Sign up</h2>
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </form>
            <div class="text-center mt-4">
                Already have an account? <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}