{% extends "base_generic.html" %}

{% load static %}

{% block title %}Create Medical Record{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4 mb-3">{{ title }}</h1>
        <div class="row">
            <div class="col-lg-8 mb-4">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="control-group form-group">
                        <div class="controls">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}